h1 {
    font-family: sans-serif;
    color: black;
    left: 1200px;
}

body {
    background-color: black;
}

#videoElement {
    width: 800px;
    height: 600px;
    background-color: #666;
}

.camera {
    position: fixed; /* or 'absolute' if you want it in relation to a containing element */
    top: 0;
    left: 0;
    width: 400px; /* Adjust the width of the camera display as needed */
    height: 200px; /* Adjust the height of the camera display as needed */
    z-index: 1000; /* Ensure the camera stays on top of other elements */
}

.Plank {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    height: 10px;
    top: 1100px;
    will-change: transform;
}

.Plank:disabled {
    pointer-events: none;
}

.Plank:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-7px);
}

.Plank:active {
    box-shadow: none;
    transform: translateY(0);
}